<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itsource.crm.mapper.ContractMapper">

	<insert id="save" parameterType="Contract" useGeneratedKeys="true" keyProperty="id">
		insert into t_contract 
			(sn, signTime, sum, state, intro, customer_id, seller_id)
		VALUES (#{sn}, #{signTime}, #{sum}, #{state}, #{intro}, #{customer.id}, #{seller.id})
	</insert>

	<update id="update" parameterType="Contract">
		update t_contract set
			sn=#{sn}, signTime=#{signTime}, sum=#{sum}, state=#{state}, intro=#{intro}, customer_id=#{customer.id},seller_id=#{seller.id}
		where id=#{id}
	</update>

	<delete id="delete" parameterType="long">
		delete from t_contract where
		id=#{id}
	</delete>
	
	<!-- 暂时先 改成这样  后面还要改 -->
	<select id="get" parameterType="long" resultType="Contract">
		select * from t_contract where id=#{id}
	</select>

	<select id="getAll" resultType="Contract">
		select * from t_contract 
	</select>

	
	<!-- 高级查询部分 -->
	<!-- 公共的sql语句 -->
	<sql id="commonSql">
		from t_contract o left join t_employee e on o.seller_id = e.id 
		left join t_customer c on o.customer_id = c.id
		<where>
			<!-- 订单的sn属性进行like查询 -->
			<if test="q!=null and q!=''">
				and o.sn like concat('%',#{q},'%') 
			</if>
			<!-- 根据客户的id来查询 -->
			<if test="customerId != null and customerId != -1">
				and o.customer_id = #{customerId}
			</if>
			<if test="state!=null and state!=-1">
				and o.state=#{state}
			</if>
			<!-- 根据营销员的id来查询 -->
			<if test="sellerId != null and sellerId != -1">
				and o.seller_id = #{sellerId}
			</if>
			<!-- 根据时间来查询 -->
			<if test="beginTime != null">
				and o.signTime >= #{beginTime}
			</if>
			<if test="endTime != null ">
				and o.signTime &lt;= #{endTime}
			</if>
		</where>
	</sql>

	<!-- 总记录数查询 -->
	<select id="findCountByQuery" resultType="int" parameterType="ContractQuery">
		select count(o.id) 
		<include refid="commonSql" />
	</select>

	<!-- 分页查询 -->
	<!-- limit -->
	<select id="findLimitByQuery" resultMap="contractResultMap"
		parameterType="ContractQuery">
		select o.id, o.sn, o.signTime, o.sum, o.state, o.intro, 
			   e.id eid, e.realName realName, 
			   c.id cid, c.name cname 
		<include refid="commonSql" />
		limit #{begin},#{end}
	</select>


	<resultMap type="Contract" id="contractResultMap">
		
		<id property="id" column="id" />
		<result property="sn" column="sn" />
		<result property="signTime" column="signTime" />
		<result property="sum" column="sum" />
		<result property="state" column="state" />
		<result property="intro" column="intro" />
		
		<!-- 处理一方:customer_id -->
		<association property="customer" javaType="Customer">
			<id property="id" column="cid" />
			<result property="name" column="cname" />
		</association>
		
		<!-- 处理一方:seller_id  -->
		<association property="seller" javaType="Employee">
			<id property="id" column="eid" />
			<result property="realName" column="realName" />
		</association>
		
		<!-- 处理多方：items（合同明细） -->
		<collection property="items" select="cn.itsource.crm.mapper.ContractMapper.findItemsByContractId"
		 column="id">
			<id property="id" column="id" />
			<result property="isPayment" column="isPayment" />
			<result property="payTime" column="payTime" />
			<result property="money" column="money" />
			<result property="scale" column="scale" />
		</collection>
	</resultMap>

	<!-- 一对多的查询需要使用嵌套查询来分页，不然会出问题，计数会计算明细的个数 -->
	<select id="findItemsByContractId" resultType="ContractItem" parameterType="long">
		select
		id,money,scale,payTime,isPayment from t_contract_item where contract_id=#{id}
	</select>
	
</mapper>